@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f513wu');
  src:  url('fonts/icomoon.eot?f513wu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f513wu') format('truetype'),
    url('fonts/icomoon.woff?f513wu') format('woff'),
    url('fonts/icomoon.svg?f513wu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest:before {
  content: "\e915";
  color: #ff8674;
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-vimeo:before {
  content: "\e903";
}
.icon-bag:before {
  content: "\e904";
}
.icon-cancel:before {
  content: "\e905";
}
.icon-chat:before {
  content: "\e906";
}
.icon-checked-1:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-garbage:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\e90a";
}
.icon-less:before {
  content: "\e90b";
}
.icon-menu-1:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-next-3:before {
  content: "\e90e";
}
.icon-padlock:before {
  content: "\e90f";
}
.icon-padlock-1:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e911";
}
.icon-previous-4:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-shopping-bag:before {
  content: "\e914";
}
