.article{


   &__img{
      width: 100%;
      height:268px;
      @extend .full-img;

      @include media-breakpoint-up(sm) {
         height:468px;
      }
      @include media-breakpoint-up(xl) {
         height:568px;
      }
      @include media-breakpoint-up-1600 {
         height:668px;
      }
   }
   &__text{
      margin-top: 30px;

      @include media-breakpoint-up(sm) {
         padding: 0 30px;
         margin-top: 60px;
      }
      @include media-breakpoint-up(xl) {
         padding: 0 100px;
         margin-top: 90px;
      }
   }
}
