.label{
   position: relative;
   z-index: 1;
   width: 40px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   display: block;
   text-transform: uppercase;
   font-weight: $font-weight-bold;
   font-size: .65rem;
   background-position: center;
   background-size: contain;

   @include media-breakpoint-up(sm) {
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: .85rem;
   }

   @include media-breakpoint-up(md) {
      width: 90px;
      height: 90px;
      line-height: 90px;
      font-size: 20px;
   }

   &--promo{
      color: $light-coral-color;
      background-image: url(front/img/icons/white-round.svg);

   }
   &--new{
      color: $white-color;
      letter-spacing: 1px;
      background-image: url(front/img/icons/coral-round.svg);

      @include media-breakpoint-up(sm) {
         letter-spacing: 2px;
      }
   }

}
