.bg-white{
   background-color: white;
   opacity: .6;
   position: fixed;
   z-index: 3;
   @extend .abs-center;
}
.slide{
   position: fixed;
   right: 0;
   top: 0;
   // bottom: 0;
   width: 100%;
   background-color: #F9F8F8;
   text-align: left;
   z-index: 20;
   @extend .transition;
    min-height: 100vh;
    overflow: auto;
    padding: 20px 15px;

   @include media-breakpoint-up(sm) {
      padding: 20px 30px;
      max-width: 372px;
      min-width: 372px;
   }

   &.filters{
      background-color: white;
      z-index: 2;
      padding-top: 90px;
      @include media-breakpoint-up(lg) {
         padding-top: 100px;
      }
   }

   &__counter{
      color: $light-coral-color;
      font-weight: $font-weight-semibold;
   }
   .icon-close{
      font-size: 30px;
      margin-left: 10px;
      @extend .transition;

      &:focus,
      &:hover{
         outline:none;
         color: $light-coral-color;
      }
   }
   &__header{
      color: $grey-color;
      margin-bottom:30px;

      &-right{
         float: right;
         line-height: 30px;
         display: block;
         h4{
            line-height: 30px;
            // display: inline-block;
         }
         *{
            display: inline-block !important;
            vertical-align: middle;
         }
      }
      &-left{
         float: left;
         line-height: 30px;
         display: block;

         i{
            margin-right: 10px;
         }
         h4{
            line-height: 30px;
            display: block;
         }
      }
   }

   &__container{
      color: $black-color;
   }
   &__prices{
      padding: 20px 30px;

      &:nth-of-type(n+2){
         border-top: 1px solid #CCC1C0;
      }
      p:last-of-type{
         float: right;
      }
      *{
         display: inline-block;
      }
      .small-text{
         text-transform: uppercase;
         letter-spacing: 3.2px;

         &.value{
            letter-spacing: 1px !important;
         }
      }
      .tiny-text--semibold{
         text-transform: inherit;
         color: $light-grey-color;
         letter-spacing: 1px;
      }
   }
   &__footer{
      color: $black-color;
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      .btn{
         width: 100%;
      }
      .btn{
         font-size: .8rem;
         letter-spacing: 2px;
         @include media-breakpoint-up(sm) {
            font-size: .9rem;
            letter-spacing: 4px;
         }
      }
   }
}
